*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(103, 113, 172);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 1px;
    background-image: url(./images/rock-paper-scissor-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    flex-direction: column;
    justify-content: start;

    
}

.container{
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    background-color:rgba(40, 129, 201, 0.6);
    box-shadow: -2px 2px 5px 5px rgba(40,105,148,0.5);

}


.scoreboard p{
    font-size: 2rem;
    text-align: center;
}

#results{
    font-size: 1rem;
    width: 50%;
    margin: 10px auto 0 auto;
}

.score{
    display: flex;
}

.choices{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 25px auto;
}

img{
    width: 50px;
}

.image{
    width: 100px;
    margin: 50px;
}

.buttons{
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
}


.message{
    text-align: center;
    
}

.actionMessage{
    font-size: 2rem;
    margin: 10px;
}

.red{
    border: 2px solid red;
    border-radius: 50%;
    padding: 1em;
}

.green{
    border: 2px solid green;
    border-radius: 50%;
    padding: 1em;
}

.grey{
    border: 2px solid grey;
    border-radius: 50%;
    padding: 1em;
}
